html {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', 'calibri', 'arial', sans-serif;
    background: #F6F8FF;  
}

.container {
    width: 730px;
    margin: 50px auto 0 ;
}

.header {
    display: flex;
    justify-content: space-between;    
    width: 100%;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 14px;
}

.header__title {
    font-size: 26px;
    line-height: 39px;
    color: #222731;
}

.header__title:hover {
    cursor: pointer;
}

.header__button {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
    height: 50px;
    font-family: 'Space Mono', 'calibri', 'arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #697C9A;
    background-color: #F6F8FF;
    border: none;
}

.header__icon {
    display: block;
}

.header__icon--hover {
    display: none;
}

.header__button:hover {
    color: #222731;
    cursor: pointer;
}

.header__button:hover .header__icon {
    display: none;
}

.header__button:hover .header__icon--hover {
    display: block;
}

.search {
    display: flex;
    font-weight: 400;
    margin-bottom: 14px;
    padding: 10px;
    padding-left: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
}

.search__placeholder {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 18px;
}

.search__icon {
    margin-right: 24px;
    height: 24px;
    cursor: pointer;
}

.search__bar {
    flex: 1;
    font-family: 'Space Mono';
    line-height: 45px;
    background-color: #FFFFFF;
    border: none;
}

.search__button { 
    align-self: center;
    height: 50px;
    padding: 0 24px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #0079FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search__button:hover {
    background: #60ABFF;
}

.card {
    display: grid;
    grid-template-areas:
    "card__profile  card__header  card__date"
    " .             card__bio     card__bio"
    " .             card__info    card__info"
    " .             card__finder  card__finder";
    grid-gap: 30px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.card__profile {
    grid-area: card__profile;
}

.card__header{
    grid-area: card__header;
}
h1 {
    font-weight: 700;
    font-size: 26px;
    color: #2B3442;
    line-height: 39px;
}

.card__link {
    font-weight: 400;
    font-size: 16px;
    color: #0079FF;
}

.card__date {
    grid-area: card__date;
    margin-top: 4px;
    font-weight: 400;
    font-size: 15px;
    text-align: right;
    color: #697C9A;
}

.card__bio {
    grid-area: card__bio;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    color: #4B6A9B;
}

.card__info {
    display: flex;
    justify-content: center;
    grid-area: card__info;
    padding: 15px;
    font-weight: 400;
    font-size: 13px;
    border-radius: 10px;
    background-color: #F6F8FF;
    color: #4B6A9B;
    justify-content: left;
}

.card__activities {
    margin: 0 30px ;
    
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
    color: #2B3442;
}

.card__finder {
    grid-area: card__finder; 
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 15px;
    color: #4B6A9B;
}

.card__social {
    width: 50%; 
}